db.sqlite3
*.log
*.pot
*.pyc
*.mo
*.py[co]
*/__pycache__/
media
.env
virtual

*/migrations/__pycache__/
*/migrations/*.py[co]
*/migrations/*.py
transaction_simulation/settings.py
.vscode/settings.json
.venv/
